@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&family=Paytone+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-2);
}

:root {
    --text-1: 'Anton', sans-serif;
    --text-2: 'Josefin Sans', sans-serif;
    --text-3: 'Paytone One', sans-serif;
    --color-1: #213734;
    --color-2: #115c3e;
    --color-3: #fcf2ed;
    --color-4: #E86A33;
}



/** Navbar **/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.menu {
    width: 100%;
    background-color: #23694d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 50px;
    color: var(--color-1);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 18px;
}

.logo h2 {
    font-family: var(--text-3);
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.menu-hamb {
    display: flex;
    justify-content: end;
    gap: 30px;
    width: 60%;
    transition: transform .5s;
}

.menu-item {
    list-style: none;
}

.menu-link {
    padding-bottom: 2px;
    text-decoration: none;
    font-family: var(--text-2);
    font-size: 1.05rem;
    color: var(--color-3);
    transition: all .5s ease;
}

.menu-link:hover {
    color: var(--color-4);
    text-shadow: 0px 0px 4px var(--color-3);
    transition: all .5s ease;
}


.carrito {
    width: 30px;
    height: 30px;
    color: var(--color-4);
    transition: all .5s;
    cursor: pointer;
}

.carrito:hover {
    width: 32px;
    height: 32px;
    transition: all .5s;
}



/** Pagina landing **/

.sec1 {
    height: 100vh;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/henry-be-IicyiaPYGGI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--color-1);
    text-shadow: 1px 1px 3px var(--color-2);
}

.art-sec1{
    display: flex;
    flex-direction: column;
}

.art1-t {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.art1-subt {
    font-family: var(--text-2);
    letter-spacing: 2px;
    padding: 20px 80px;
}

.caba {
    font-size: 1.5rem;
    padding: 30px 100px 0px;
}

.bi-arrow-down-circle-fill {
    position: absolute;
    z-index: 1;
    top: 90%;
    right: 50%;
    animation: mov-subibaja 1s ease infinite;
}

@keyframes mov-subibaja {
    0% {
        transform: translateY(20px);
    }

    25% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(20px)
    }
}


.section {
    background-color: var(--color-3);
    width: 100%;
    height: 100vh;
    padding-inline: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info{
    width: 40%;
    color: var(--color-1);
}

.info .titulo{
    font-family: var(--text-3);
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 10px;
}

.info .precio{
    color: var(--color-4);
}

.info .texto{
    margin: 10px 0px 20px;
    font-size: 1.2rem;
}

.bloque{
    font-weight: bolder ;
}

.img{
    width: 50%;
}


.img-slide {
    width: 45%;
    height: 210px;
    border-radius: 20px;
    margin: 3px;
}

.sec1 {
    display: inline-block;
}

.btn{
    margin-top: 20px;
    font-size: 1.3rem;
    font-family: var(--text-2);
    background-color: var(--color-4);
    border: 1px solid var(--color-4);
    outline: none;
    color: var(--color-3);
    border-radius: 20px;
    box-shadow: 0 5px 7px var(--color-2);
    padding: 8px 20px;
    cursor: pointer;
    transition: all 2s ease;
}

.btn:hover{
    background-color: var(--color-2);
    transition: all 2s ease;
    color: var(--color-3);
    border: 1px solid var(--color-2);
}

.btn2{
    margin-inline: 10px;
    font-size: 1.3rem;
    font-family: var(--text-2);
    background-color: transparent;
    outline: none;
    color: var(--color-4);
    border: 1px solid var(--color-4);
    border-radius: 20px;
    box-shadow: 0 5px 7px #8aa87d;
    padding: 8px 20px;
    cursor: pointer;
    transition: all 2s ease;
}

.btn2:hover{
    background-color: var(--color-2);
    transition: all 2s ease;
    color: var(--color-3);
    border: 1px solid var(--color-2);
}


/** Footer **/

.footer{
    background-color: var(--color-4);
    color: var(--color-1);
    padding: 40px 10px 20px 30px;
    display: flex;
    justify-content: space-around;
    color: var(--color-1);
    font-family: var(--text-2);
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.footer h3{
    font-family: var(--text-3);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-1);
}

.inline-b{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0px 5px;
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.derechos{
    display: flex;
    align-items: self-end;
    font-size: 1rem;
}