@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&family=Paytone+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-2);
}

:root{
    --text-1: 'Anton', sans-serif;
    --text-2: 'Josefin Sans', sans-serif;
    --text-3: 'Paytone One', sans-serif;
    --color-1: #213734;
    --color-2: #115c3e;
    --color-3: #fcf2ed;
    --color-4: #E86A33;
}


/** navbar **/

.menu{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 50px;
    color: var(--color-1);
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 18px;
}

.logo h2{
    font-family: var(--text-3);
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.menu-hamb{
    display: flex;
    justify-content: end;
    gap: 30px;
    width: 60%;
    transition: transform .5s;
}

.menu-item{
    list-style: none;
}

.menu-link{
    padding-bottom: 2px;
    text-decoration: none;
    font-family: var(--text-2);
    font-size: 1.05rem;
    color: var(--color-1);
    transition: all .5s;
}

.menu-link:hover{
    border-bottom: 1px solid var(--color-2);
    transition: all .5s;
}

.carrito{
    width: 30px;
    height: 30px;
    color: var(--color-4);
    transition: all .5s;
}

.carrito:hover{
    width: 32px;
    height: 32px;
    transition: all .5s;
}


/** pagina landing **/

.sec1{
    height: 100vh;
}